.planet {
    position: fixed;
    cursor: pointer;
    background-color: white;
    width: 20px;
    text-align: center;
}

.planet:hover {
    background-color: #ccf;
}

#map {
    width: 1000px;
    height: 600px;
    background-color: turquoise;
    position: absolute;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

#sidebar {
    width: 200px;
    height: 600px;
    background-color: blue;
    position: absolute;
    transform: translate(1000px);
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}